:root {
	--bg-darkest: #0D0707;
	--bg-darker: #1A0E0E;
	--bg-middle: #2A2023;
	--bg-lighter: #3C3137;
	--bg-lightest: #4D434B;
	
	--red: #D22042;
	--red-darker: #B31E34;
	--red2: #881421;
	--red2-darker: #630909;
	
	--text-darker: #BAABB2;
	--text-normal: #F5EAED;
}

a:link, a:visited{
	text-decoration: none;
	color: inherit;
}

html {

}

body {
	background-color: var(--bg-darker);
	color: var(--text-normal);
	padding: 0;
	margin: 0;
	height: 100%;
	font-size: 16px;
	
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
	
	scrollbar-color: var(--text-darker) var(--bg-darker);
	
}

footer {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0;
	color: var(--text-darker);
	font-size: 0.9em;
	font-weight: 200;
	background-color: var(--bg-darkest);
}


.topbar {
	background-color: var(--bg-darkest);
	list-style-type: none;
	font-size: 1.25em;
	border-bottom: 2px solid var(--red-darker);
	
	display: flex;
	width: 100%;
	height: 46px;
	line-height: 50px;
	padding: 0;
	margin: 0;
	position: sticky;
	top: 0;
	z-index: 2;
	
	overflow: scroll ;
	overscroll-behavior: contain;
	flex: 0 0 auto;
	white-space: nowrap;
}

main {
	display: flex;
	flex-direction: row;
	
	width: 100%;
	height: 100vh;
	
	border-left: 1px solid var(--red-darker);
	border-right: 1px solid var(--red-darker);
	border-bottom: 2px solid var(--red-darker);
	
	box-sizing: border-box;
}


section {

	border-left: 1px solid var(--red-darker);
	border-right: 1px solid var(--red-darker);
}

.menu {
	width: 10%;
	background-color: var(--bg-darkest);
}

.menu > * {
	width: 100%;
	height: 3.5em;
	display: flex;
	align-items: center;
	border-bottom: 5px solid var(--bg-darkest);
	box-sizing: border-box;
	background-color: var(--bg-darker);
}

.menu li {
	padding-left: 2em;
	color: var(--text-darker);
	font-size: 18px;
}

.menu .inbox {
	color: var(--text-normal);
	font-weight: bold;
	background-color: var(--bg-middle);
	
}

.menu button {
	background-color: inherit;
	border: inherit;
	border-bottom: 5px solid var(--bg-darkest);
	color: inherit;
	font: inherit;
}

.menu h2 {
	padding-left: 0.5em;
	margin: 0;
}

.emailList {
	width: 21%;
	background-color: var(--bg-darkest);
}

.emailList > div {
	margin-bottom: 5px;
	border-left: 4px solid var(--red);
	border-right: 4px solid var(--bg-darker);
	background-color: var(--bg-darker);
	padding: 1em 0;
	
	box-sizing: border-box;
}

.emailList h3 {
	margin: 0 0.5em;
}

.emailList div p {
	overflow: hidden;
	display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
	margin: 0em 0.75em;
	
	color: var(--text-darker);
}

.emailList div div {
	display: flex;
	margin: 0.25em 0.5em;
}

.emailList div div p {
	margin-left: auto;
	font-style: italic;
}

.emailList div div * {
	margin: 0;
}

.emailList > .read {
	border-left: 4px solid var(--bg-darker);
}

.read h3 {
	font-weight: normal;
}

.read div h4 {
	font-weight: normal;
}

.emailViewer {
	width: 69%;
}

.emailViewer .heading {
	background-color: var(--bg-darkest);
	border-bottom: 2px solid var(--red);
	padding: 2px 0;
}

.emailViewer .heading p {
	margin: 0;
	border-bottom: 2px solid var(--bg-middle);
	text-indent: 1em;
	line-height: 2em;
	
	color: var(--text-darker);
}

.emailViewer .heading p:last-child {
	border-bottom: 0;
}

.emailViewer h2 {
	border-bottom: 4px solid var(--bg-middle);
	padding: 0.7em 0 0.5em;
	text-indent: 0.5em;
	margin: 0;
}

.emailViewer .body {
	margin: 1em 1.2em;
}

.body p {
	margin: 0.75em 0;
}

.sigBlockA p{
	color: var(--text-darker);
	font-size: 10pt;
	margin: 0.2em 0;
}

.sigBlockA p:nth-child(2){
	font-weight:bold;
	font-size: 11pt;
}

.sigBlockC p{
	font-size: 11pt;
	margin: 0.5em 0;
	font-weight: bold;
}

.sigBlockC p:last-child{
	font-style: italic;
}